---
layout: default
title: Personal consultation packages
packages:
  - title: 3x 1-on-1 Coaching Sessions
    price: € 199
    subtitle: Perfect Way to Start Your Health Journey
    calendly: 3blocksofindividualcoachingsessions
    features:
    - Three 1-on-1 Personal Health Coaching Sessions of 90 minutes each
    - Individualized Approach Designed to Reach Your Needs
    - I Come to You! Sessions Offered Outdoors or in Your Home!
    - Basic Nutrition Guidance Included!
  - title: 5x 1-on-1 Coaching sessions
    price: € 299
    subtitle: The Best Way to See Results at the Best Price!
    calendly: 5-blocks-of-individual-coaching-session-a-90-mi-clone
    features:
    - Five 1-on-1 Personal Health Coaching Sessions of 90 minutes each
    - I Come to You! Sessions Offered Outdoors or in Your Home!
    - Detailed Nutrition Guidance Included!
  - title: 10x 1-on-1 Coaching sessions
    price: € 549
    subtitle: The Ultimate Health Transformational Journey!
    calendly: 10-blocks-of-individual-coaching-session-a-90-mi-clone-1
    features:
    - Ten 1-on-1 Personal Health Coaching Sessions of 90 minutes each
    - I Come to You! Sessions Offered Outdoors or in Your Home!
    - Done-for-you personalized protocol for your health condition
    - Detailed Nutrition Guidance
  - title: 1x Online Coaching session
    price: € 49
    subtitle: Anytime Anywhere from the comfort of your home!
    calendly: online
    features:
    - One 1-on-1 Online Health Coaching Session via Skype
    - Personalized protocol for your health condition
    - Referral materials included
---
<section class="grid-equalHeight padded centered">
  {% for package in page.packages %}
  <div class="col-6_sm-12 consultation">
    <div>
      <div class="border-bottom padded">
        <h3> {{package.title}} </h3>
        <h4>  {{package.price }}</h4>
        <p>  {{package.subtitle }} </p>
        <!-- Calendly link widget begin -->

  <a href="" class="button" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/karlalenfeld/{{package.calendly}}'});return false;">Schedule time with me</a>
  <!-- Calendly link widget end -->
      </div>
      <div class="padded">
        {% for feature in package.features %}
        <p> {{feature}} <p>
          {% endfor %}

      </div>
    </div>
  </div>
  {% endfor %}
  <!-- Calendly inline widget begin -->
  <div id="calendar" class="calendly-inline-widget" data-url="https://calendly.com/karlalenfeld/online" style="min-width:320px;height:580px;"></div>
  <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js"></script>
  <!-- Calendly inline widget end -->
</section>
<!-- Calendly link widget end -->
